---
import { css } from '../../assets/Hangeuljaemin4-Regular.otf'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body style={{
		'font-family': `"${css.family}"`
	}}>
		<h1>Astro</h1>
	</body>
</html>
